/* CSS for the about page
 * author: Connor Dunn
 */

h4 {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#about-fig {
    margin: 0px;
    width: 100%;
    position: relative;
}

#about-fig figcaption {
    max-width: 95%;
    margin-left: 2vw;
}

@media screen and (min-width: 1000px) {

    #about-fig {
        width: 100vw;
    }

    #about-fig figcaption {
        background-color: rgba(0, 0, 0, 0.7);
        width: 90vw;
        bottom: 0vh;
        padding: 5vw;
        margin-left: 0vw;
        position: fixed;

    }
}
