/* CSS for the about page
 * author: Connor Dunn
 */

h4 {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about {
    margin: 0px;
    width: 100%;
}

#about figcaption {
    max-width: 95%;
    margin-left: 2vw;
}

#form {
    margin-top: 15vh;
    margin-bottom: 5vw;
    padding-left: 2vw;
}

@media screen and (min-width: 700px) {

    #about {
        width: 50vw;
        display: inline-block;
    }

    #about figcaption {
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 0px;
    width: 48vw;
    position: relative;
    bottom: 0.5vw;
    }

    #form {
        position: absolute;
        padding-left: 8vw;
        width: 40vw;
        display: inline-block;
        
    }
}
