/* CSS for the work page
 * author: Connor Dunn
 */

#links {
    margin-left: 10vw;
 }

.works {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 6vh;
}



@media screen and (min-width: 900px) {
    
    #examples {
        display: flex;
        justify-content: space-around;
    }

    .works figcaption {
        width: 15vw;
        margin-left: 4vw;
        bottom: 0px;
        position: relative;
    }

    .works img {
        width: 28vw;
        align-items: center;
    }

}